<div class="row">
  <div class="col-xs-12 col-md-3 col-md-offset-4">
    <div *ngFor="let car of cars; let carIndex=index">
      <a (click)="carSelected(carIndex)"
        style="cursor: pointer;"
        routerLinkActive="active"
        class="list-group-item clearfix">
        <div class="pull-left">
          <h4 class="list-group-item-heading">  {{car.name}}</h4>
          <p class="list-group-item-text">  {{car.name}}</p>
        </div>
        <span class="pull-right">
        <img
          [src]="car.imagePath"
          alt="{{ car.name}}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4"><app-cardetail></app-cardetail></div>
  <div class="col-xs-4"></div>
</div>
<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4"><app-add-car></app-add-car></div>
  <div class="col-xs-4"></div>
</div>



